<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include('partials/head')%>

  </head>
  <body>

    <%- include('partials/navigation')%>


    <main class="container pt-2 text-center d-flex justify-content-center">
        <section>
            <h1 class="display-3  mt-5">Sobre mi</h1>
            <p class="m-auto">¡Bienvenidos! Soy desarrollador, vivo en Buenos Aires,  y estoy en búsqueda de nuevos desafíos para convertirme en un excelente profesional.</p>
        </section>
    </main>

    <%- include('partials/footer')%>

  </body>
</html>
