<footer class="fixed-bottom">
    <div class="">
        <div class="text-center bg-dark p-2 ">
            <p>Kevin Defalco © Todos los derechos reservados 2022</p>
        </div>
    </div>
</footer>