<header>
    <nav class="navbar navbar-expand bg-dark navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Nodejs Website </a>
          <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about">Sobre mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>